<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div align="center">
        <h3>Book List</h3>
        <h4 id="status"></h4>
        <!--   The HTML <tr> element defines a row of cells                           -->
        <!--   in a table. The row's cells can then be established                    -->
        <!--   using a mix of <td> (data cell) and <th> (header cell) elements.       -->

        <#if host??>
            <table border="2" cellpadding="10">
                <tr>
                    <td>${host.name}</td>
                    <td><a href="/users/logout/do">Logout</a></td>
                </tr>
            </table>
        <#else>
        <h5>You need to login.<a href="/users/login">login/</a><a href="/users/register">register</a></h5>
        </#if>


        <table border="1" cellpadding="10">
            <tr>
                <td>ID</td>
                <td>BookName</td>
                <td>Author</td>
                <td>Price</td>
                <td>State</td>
                <td align="center"><a href="/books/add" target="_blank">Add </a></td>
            </tr>
        </table>
    </div>
</body>
</html>